{{ form_start(form, { 'action': path('ravtovich_comment_create' , { 'post_id' : comment.post.id }), 'method': 'POST', 'attr': {'class': 'blogger'} }) }}

    {{ form_widget(form) }}
<p>
    <input type="submit" value="Submit">
</p>